<div class="search__container">
  <h3 class="search__container--title" (click)="searchForm.hidden = !searchForm.hidden">
    <fa-icon  [icon]="faSearch"></fa-icon>
    Paramètres de recherche</h3>
  <div  #searchForm [hidden]="isMobile === true">
    <form  #searchBoat="ngForm" >
    <div class="search__block">
      <p (click)="userTypeContainer.hidden = !userTypeContainer.hidden">
        <fa-icon class="style_warning" [icon]="faUser"></fa-icon>
        Type de loueur

      </p>
      <div #userTypeContainer >
          <div class="radio__container">
            <input class="radio-input" type="radio" value="particulier" id="userType" name="userType" #userType ngModel (change)="buildSearchQuery(searchBoat, 'userType')"/>
            <label class="radio__label" for="userType"> Un particulier </label>
          </div>
          <div class="radio__container">
            <input class="radio-input"  type="radio" value="professionel" id="userType" name="userType" #userType ngModel (change)="buildSearchQuery(searchBoat, 'userType')"/>
            <label class="radio__label"  for="userType"> Un professionel </label>
          </div>
      </div>
    </div>
  <div class="search__block">
    <p (click)="boatTypeContainer.hidden = !boatTypeContainer.hidden">
      <fa-icon class="style_warning" [icon]="faShip"></fa-icon>
      Type de bateau</p>
    <div #boatTypeContainer >
      <div class="radio__container">
        <input  class="radio-input"  type="radio" value="voilier" id="boatType" name="boatType" #boatType ngModel (change)="buildSearchQuery(searchBoat, 'boatType')"/>
        <label class="radio__label"  for="boatType"> Voilier </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="catamaran" id="boatType" name="boatType" #boatType ngModel (change)="buildSearchQuery(searchBoat, 'boatType')"/>
        <label  class="radio__label" for="boatType"> Catamaran </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"   type="radio" value="bateau-moteur" id="boatType" name="boatType" #boatType ngModel (change)="buildSearchQuery(searchBoat, 'boatType')"/>
        <label  class="radio__label" for="boatType"> Bateau moteur </label>
      </div>


      <div class="radio__container">
        <input class="radio-input"  type="radio" value="semi-rigide" id="boatType" name="boatType" #boatType ngModel (change)="buildSearchQuery(searchBoat, 'boatType')"/>
        <label class="radio__label"  for="boatType"> Semi-rigide </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="peniche" id="boatType" name="boatType" #boatType ngModel (change)="buildSearchQuery(searchBoat, 'boatType')"/>
        <label class="radio__label"  for="boatType"> Péniche </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="jet-ski" id="boatType" name="boatType" #boatType ngModel (change)="buildSearchQuery(searchBoat, 'boatType')"/>
        <label class="radio__label"  for="boatType"> Jet-Ski </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="yatch" id="boatType" name="boatType" #boatType ngModel (change)="buildSearchQuery(searchBoat, 'boatType')"/>
        <label class="radio__label"  for="boatType"> Yatch </label>
      </div>
    </div>
  </div>

  <div class="search__block" [hidden]="boatType.value !==  'voilier' && boatType.value !==  'catamaran'">
    <p (click)="extraInfo.hidden = !extraInfo.hidden">
      <fa-icon class="style_warning" [icon]="faAnchor"></fa-icon>
      Informations adjuntives</p>
    <div #extraInfo>
      <div class="text-input__container" >
        <label class="text-input__label"   for="longueur"> Longueur </label>
        <input class="text-input" type="text" placeholder="0" id="longueur" name="longueur" #longueur ngModel (ngModelChange)="buildSearchQuery(searchBoat, 'longueur')"/>
      </div>
      <div class="text-input__container">
        <label  class="text-input__label" for="largeur"> Largeur </label>
        <input  class="text-input"  type="text" placeholder="0" id="largeur" name="largeur" #largeur ngModel (ngModelChange)="buildSearchQuery(searchBoat, 'largeur')"/>
      </div>
      <div class="text-input__container">
        <label  class="text-input__label" for="tirant"> Tirant d'eau </label>
        <input   class="text-input" type="text" placeholder="0" id="tirant" name="tirant" #Tirant ngModel (ngModelChange)="buildSearchQuery(searchBoat, 'tirant')"/>
      </div>

      <div class="radio__container">
        <input class="radio-input" type="checkbox" id="foil" name="foil" #foil ngModel (change)="buildSearchQuery(searchBoat, 'foil')"/>
        <label class="radio__label" for="userType"> Foil </label>
      </div>

      <div class="radio__container">
        <input class="radio-input" type="checkbox" id="equipage" name="equipage" #equipage ngModel  (change)="buildSearchQuery(searchBoat, 'equipage')"/>
        <label class="radio__label"  for="equipage"> Equipage </label>
      </div>

      <div class="radio__container">
        <input  class="radio-input" type="checkbox" id="annexe" name="annexe" #annexe ngModel (change)="buildSearchQuery(searchBoat, 'annexe')"/>
        <label  class="radio__label"  for="annexe"> Annexe </label>
      </div>
    </div>
  </div>
</form>
</div>
</div>
