
/* Palette global definition */
@import '../../../../assets/styles/theme.scss';

  .main-header__item {
    padding: 10px;
  }
  .main-header__item-rigth {
    float: right;
    margin-right: 5px;
    margin-top: 3px;
  }


  .main-header__logo {
    width: 50%;
  }

  .main-header__logo-pink {
    color : color(warning, base);
  }
