<form (ngSubmit)="onSubmit(registerBoat)" #registerBoat="ngForm" >
  <div style="display: block;">
    <div [hidden]="currentStep['name'] !== 'intro'" class="input__container">
      <h4> Je suis: </h4>
        <div class="radio__container">
          <input class="radio-input" type="radio" value="Particulier" id="userType" name="userType" #userType ngModel/>
          <label class="radio__label" for="userType"> Un particulier </label>
        </div>
        <div class="radio__container">
          <input class="radio-input"  type="radio" value="Professionel" id="userType" name="userType" #userType ngModel/>
          <label class="radio__label"  for="userType"> Un professionel </label>
        </div>
    </div>

    <div [hidden]="currentStep['name'] !== 'chooseType'" class="input__container">
      <div class="radio__container">
        <input  class="radio-input"  type="radio" value="sailBoat" id="boatType" name="boatType" #boatType ngModel/>
        <label class="radio__label"  for="boatType"> Voilier </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="catamaran" id="boatType" name="boatType" #boatType ngModel/>
        <label  class="radio__label" for="boatType"> Catamaran </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"   type="radio" value="bateau moteur" id="boatType" name="boatType" #boatType ngModel/>
        <label  class="radio__label" for="boatType"> Bateau moteur </label>
      </div>


      <div class="radio__container">
        <input class="radio-input"  type="radio" value="semi-rigide" id="boatType" name="boatType" #boatType ngModel/>
        <label class="radio__label"  for="boatType"> Semi-rigide </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="péniche" id="boatType" name="boatType" #boatType ngModel/>
        <label class="radio__label"  for="boatType"> Péniche </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="jet-Ski" id="boatType" name="boatType" #boatType ngModel/>
        <label class="radio__label"  for="boatType"> Jet-Ski </label>
      </div>

      <div class="radio__container">
        <input class="radio-input"  type="radio" value="yatch" id="boatType" name="boatType" #boatType ngModel/>
        <label class="radio__label"  for="boatType"> Yatch </label>
      </div>
    </div>

    <div [hidden]="currentStep['name'] !== 'catamaran' && currentStep['name'] !== 'sailBoat'"  class="input__container">
      <div class="text-input__container">
        <label class="text-input__label"   for="longueur"> Longueur </label>
        <input class="text-input" type="text" placeholder="0" id="longueur" name="longueur" #longueur ngModel/>
      </div>
      <div class="text-input__container">
        <label  class="text-input__label" for="largeur"> Largeur </label>
        <input  class="text-input"  type="text" placeholder="0" id="largeur" name="largeur" #largeur ngModel/>
      </div>
      <div class="text-input__container">
        <label  class="text-input__label" for="tirant"> Tirant d'eau </label>
        <input   class="text-input" type="text" placeholder="0" id="tirant" name="tirant" #tirant ngModel/>
      </div>

      <div class="radio__container"  [hidden]="currentStep['name'] !== 'sailBoat'">
        <input class="radio-input" type="checkbox" id="foil" name="foil" #foil ngModel/>
        <label class="radio__label" for="foil"> Foil </label>
      </div>

      <div class="radio__container">
        <input class="radio-input" type="checkbox" id="equipage" name="equipage" #equipage ngModel/>
        <label class="radio__label"  for="equipage"> Equipage </label>
      </div>

      <div class="radio__container">
        <input  class="radio-input" type="checkbox" id="annexe" name="annexe" #annexe ngModel/>
        <label  class="radio__label"  for="annexe"> Annexe </label>
      </div>

    </div>


  </div>
  <button class="btn-primary" *ngIf="currentStep['name'] !== 'confirmation'" type="button" (click)="nextStep(registerBoat)"> {{currentStep['button']}} </button>
   <button *ngIf="currentStep['name'] === 'confirmation'" type="submit" > Submit </button>
  </form>
