/* Palette global definition */
@import 'assets/styles/theme.scss';


html, body {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  color: color(grey, text);
  font-size: normal;
  font-weight: normal;
}
